<div class="swiper-container z-depth-1">
    <div class="swiper-wrapper">
        <div class="swiper-slide blue lighten-5">
            <div class="container center-align">
                <div class="row">
                    <h1 class="blue-text col s12 page-title">Code Learning Scraper</h1>
                    <h5 class="col s12">Become a Developer (for Free!) with Expert Tutorials, Lessons, Courses, Articles, Videos and More from Various Code / Development / Programming Learning Websites</h5>
                    <br />
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="slider-img col s12 m6 offset-m3" src="/img/w3-swiper.png" alt="">
                    <a href="/w3"><button class="z-depth-5 btn btn-large slider-btn col s12 m6 offset-m3">View Tutorials from W3Schools</button></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="slider-img col s12 m6 offset-m3" src="/img/code-cademy-swiper.png" alt="">
                    <a href="/code-cademy"><button class="z-depth-5 btn btn-large slider-btn col s12 m6 offset-m3">View Lessons from CodeCademy</button></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="slider-img col s12 m6 offset-m3" src="/img/coursera-swiper.png" alt="">
                    <a href="/coursera"><button class="z-depth-5 btn btn-large slider-btn col s12 m6 offset-m3">View Courses from Coursera</button></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="slider-img col s12 m6 offset-m3" src="/img/medium-swiper.png" alt="">
                    <a href="/medium"><button class="z-depth-5 btn btn-large slider-btn col s12 m6 offset-m3">View Expert Articles from Medium</button></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="slider-img col s12 m6 offset-m3" src="/img/youtube-swiper.png" alt="">
                    <a href="/code-videos"><button class="z-depth-5 btn btn-large slider-btn col s12 m6 offset-m3">See Most-Viewed Code Learning Videos on YouTube</button></a>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="slider-img col s12 m6 offset-m3" src="/img/code-learn.png" alt="">
                    <a href="/learn"><button class="z-depth-5 btn btn-large slider-btn col s12 m6 offset-m3">See 71 Free Code Learning Resources</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<br />

<div id="landing-btn-row" class="container">
    <div class="row">
        <a href="/w3"><button class="z-depth-2 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/w3.png" alt="">
                W3Schools
            </button>
        </a>
        <a href="/code-cademy"><button class="z-depth-2 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/code-cademy.png" alt="">
                CodeCademy
            </button>
        </a>
        <a href="/coursera"><button class="z-depth-2 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/coursera.png" alt="">
                Coursera
            </button>
        </a>
        <a href="/medium"><button class="z-depth-2 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/medium.png" alt="">
                Medium
            </button>
        </a>
        <a href="/code-videos"><button class="z-depth-2 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/youtube.png" alt="">
                Code Learning Videos
            </button>
        </a>
        <a href="/learn"><button class="z-depth-2 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/learn.png" alt="">
                71 Code Learning Sites
            </button>
        </a>
    </div>
</div>