<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide blue lighten-5">
            <div class="container center-align">
                <div class="row">
                    <h1 id="landing-title" class="blue-text darken-4 col s12 page-title">Code Learning Scraper</h1>
                    <h5 id="landing-subheader" class="col s12">Easily Find Lessons from Various Coding and Development Learning
                        Websites</h5>
                        <br />
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="col s12 m4 offset-m1" src="/img/w3-swiper.png" alt="">
                    <button class="z-depth-5 btn btn-large slider-btn col s12 m5 offset-m1">View Lessons from W3Schools</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="col s12 m4 offset-m1" src="/img/coursera-swiper.png" alt="">
                    <button class="z-depth-5 btn btn-large slider-btn col s12 m5 offset-m1">View Lessons from Coursera</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide blue lighten-5">
            <div class="container">
                <div class="row">
                    <img class="col s12 m4 offset-m1" src="/img/medium-swiper.png" alt="">
                    <button class="z-depth-5 btn btn-large slider-btn col s12 m5 offset-m1">View Programming Posts from Medium</button>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <a href="/w3"><button class="z-depth-3 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/w3.png" alt="">
                W3 Schools
            </button></a>
        <a href="/coursera"><button class="z-depth-3 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/coursera.png" alt="">
                Coursera
            </button></a>
        <a href="/medium"><button class="z-depth-3 btn btn-large landing-btn col m4 s12">
                <img class="landing-img" src="/img/medium.png" alt="">
                Medium
            </button></a>
    </div>
</div>