<main>
    <div class="container center-align">
        <div class="row">
            <br />
            <h1 id="landing-title" class="col s12 page-title">Coding Lesson Scraper</h1>
        </div>
        <div class="row">
            <h5 id="landing-subheader" class="col s12">Easily Find Lessons from Various Coding and Development Learning Websites</h5>
        </div>
        <br />
        <hr>
        <br />
        <br />
        <div class="container">
            <div class="row">
                <a href="/w3"><button class="btn btn-large landing-btn col s4">
                    <img class="landing-img" src="/img/w3.png" alt="">
                    W3 Schools
                </button></a>
                <a href="/coursera"><button class="btn btn-large landing-btn col s4">
                    <img class="landing-img" src="/img/coursera.png" alt="">
                    Coursera
                </button></a>
                <a href="/fcc"><button class="btn btn-large landing-btn col s4">
                    <img class="landing-img" src="/img/free-code-camp.png" alt="">
                    Free Code Camp
                </button></a>
            </div>
        </div>
    </div>
</main>