<div class="modal center-align" id="notes">
    <div class="modal-content">
        <br/>
        <h1>NOTES</h1>
        <div id="notes"></div>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn btn-secondary">Close</button>
    </div>
</div>