<div class="modal center-align" id="theater">
    <div class="modal-content">
        <div id="theater-container"></div>
        <br />
        <div class="container">
            <div class="row">
                <a class="yt-btn" href="" target="_blank"><button class="col s6 btn btn-secondary">Open in YouTube</button></a>
                <button class="col s6 modal-close btn btn-secondary">Close Window</button>
            </div>
        </div>
    </div>
</div>