@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    margin-top: -10px;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    z-index: 10;
}

#nav-secondary {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    background-color: #0d47a1;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #1976d2;
}

.swiper-container {
    width: 100%;
    height: 340px;
}

.swiper-img {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    padding-bottom: 20px;
}

.landing-btn {
    height: 215px;
}

.landing-img {
    margin: 10px auto 10px auto;
    display: block;
}

.slider-img {
    margin-bottom: 20px;
}

table {
    padding: 30px;
    border-radius: 8px;
    font-size: 12px;
}

.modal {
    border-radius: 8px;
}

.dataTables_wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 100px;
}

.dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_wrapper {
    margin-bottom: 80px;
}

#notes {
    padding: 30px;
}

::-webkit-input-placeholder {
    color: #1976d2;
    opacity: 1.0 !important;
}

.input-field label {
    color: #1976d2 !important;
}

.input-field input:focus+label {
    color: #1976d2 !important;
}

input:focus {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}

.input-field input.valid {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}

.input-field input.invalid {
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}

.input-field .prefix.active {
    color: #1976d2 !important;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px;
    }

    h5 {
        font-size: 20px;
    }

    #landing-btn-row {
        margin-bottom: 100px;
    }

    a.brand-logo {
        font-size: 15px;
    }
}